body fieldset {
    border: 1px solid #d8d8d8;
    padding: 0 10px 10px;
    *padding: 10px;
    margin-bottom: 20px
}

body fieldset legend {
    padding: 3px 8px;
    font-weight: 700
}

body fieldset.blue {
    border: 1px solid #dce3ed
}

body fieldset.blue legend {
    padding: 3px 8px;
    font-weight: 700;
    color: #347add;
    background: none;
    border: none
}

.z {
    float: left
}

.y {
    float: right
}

.cl {
    clear: both
}

.wp {
    width: 1200px;
    height: 200px;
    margin: 0 auto
}

.lside {
    width: 800px;
    margin-right: 50px;
    float: left
}

.lside .source {
    color: #aaa;
    font-family: "宋体", Arial, sans-serif
}

.lside .source a:hover {
    text-decoration: underline
}

.rside {
    width: 310px;
    float: right
}

.cat-title {
    height: 60px;
    line-height: 60px;
    background: url(../../images/gray/tit_bg.png) left no-repeat
}

.cat-title h3 {
    padding-left: 15px;
    font-size: 18px;
    color: #939393
}

.lside_nr, .t-content {
    position: relative;
    border-top: 1px solid #ddd
}

.lside_nr .dl_bg {
    position: absolute;
    left: -210px;
    top: 20px
}

.lside_nr li {
    list-style-type: none;
    height: 126px;
    padding: 20px 0;
    border-bottom: 1px solid #ddd
}

.lside_nr li h2 {
    line-height: 20px;
    height: 40px;
    margin: 3px 0 0;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 20px
}

.lside_nr li a {
    text-decoration: none;
    color: #505050
}

.lside_nr li:hover {
    background: #f5f5f5
}

.lside_nr li:hover a {
    color: #df1616
}

.lside_nr li span {
    margin-right: 2px
}

.lside_nr li .tag {
    color: #159b46;
    border: 1px solid #b8e1c7;
    padding: 2px 8px;
    *padding: 1px 8px;
    border-radius: 2px
}

.lside_nr li .tag:hover {
    background: #b8e1c7
}

.lside_nr li .p1 {
    font-size: 12px;
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    color: #757575;
    margin-bottom: 15px
}

.lside_nr li .p1 a {
    color: #757575;
    font-size: 12px
}

.lside_nr li .p1 a:hover {
    color: #de0a0a
}

.lside_nr li .p2 {
    font-size: 10px;
    color: #bebebe;
    display: inline-block;
    margin-left: 13px
}

.lside_nr li .p2 a {
    color: #bbb
}

.lside_nr li .p2 a:hover {
    color: #de0a0a
}

.lside_nr li .p2 em {
    border-left: 1px solid #ddd;
    color: #bbb;
    padding-left: 15px;
    margin-left: 10px;
    font-family: "\5b8b\4f53"
}

.lside_nr li img {
    float: left;
    width: 192px;
    height: 126px;
    padding-right: 20px
}

#pages {
    padding: 14px 0 10px;
    font-family: 宋体;
    text-align: center
}

#pages .a1 {
    width: 56px;
    padding: 0
}

#pages a {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    background: #fff;
    border: 1px solid #e3e3e3;
    text-align: center;
    color: #333;
    padding: 0 10px
}

#pages a:hover {
    background: #f1f1f1;
    color: #000;
    text-decoration: none
}

#pages span {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    background: #d00;
    border: 1px solid #d00;
    color: #fff;
    text-align: center;
    padding: 0 10px
}

#pages .noPage {
    display: inline-block;
    width: 56px;
    height: 22px;
    line-height: 22px;
    background: #bbb;
    border: 1px solid #e3e3e3;
    text-align: center;
    color: #a4a4a4
}

.rside li {
    color: #6d6d6d;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    margin-bottom: 5px
}

.rside li em {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin-right: 10px
}

.rside li em.top {
    color: #c00
}

.rside img {
    width: 250px
}

.pic-library .news-name {
    font-size: 24px;
    color: #242424
}

.pic-library .news-name em {
    display: inline-block;
    height: 24px;
    width: 10px;
    background: #242424;
    vertical-align: middle;
    margin-right: 5px
}

.pic-library .news-name span {
    color: #999;
    font-size: 12px
}

.pic-library .views {
    position: relative;
    border: 1px solid #f5f5f5;
    padding: 20px
}

.pic-library .views .big-pic {
    text-align: center;
    padding: 10px 0;
    position: relative
}

.pic-library .views .big-pic #big-pic {
    vertical-align: middle;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto
}

.pic-library .views .big-pic .photo_prev {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 100
}

.pic-library .views .big-pic .photo_prev a {
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    cursor: url(../../images/gray/cursor_left.cur), auto
}

.pic-library .views .big-pic .photo_next {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 100
}

.pic-library .views .big-pic .photo_next a {
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    cursor: url(../../images/gray/cursor_right.cur), auto
}

.pic-library .views .big-pic a.max {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff url(../../images/gray/max.png) no-repeat 5px center;
    z-index: 101;
    padding: 5px 5px 5px 20px
}

.pic-library #endSelect {
    top: 320px;
    left: 484px;
    position: absolute;
    width: 230px;
    height: 71px;
    border: 1px solid #8a8a8a;
    display: none;
    z-index: 200
}

.pic-library #endSelect #endSelClose {
    background-position: 0 -217px;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
    width: 11px;
    height: 11px;
    overflow: hidden;
    z-index: 2
}

.pic-library #endSelect .bg {
    height: 100%;
    width: 100%;
    background: #000;
    filter: alpha(opacity=50);
    opacity: .5
}

.pic-library #endSelect .E_Cont {
    position: absolute;
    top: 10px;
    left: 26px;
    color: #fff;
    font-size: 14px
}

.pic-library #endSelect .E_Cont p {
    padding: 4px 0;
    zoom: 1;
    overflow: hidden
}

.pic-library #endSelect .E_Cont p #rePlayBut {
    background: url(../../images/gray/big-btn.png) no-repeat;
    float: left;
    width: 69px;
    height: 23px;
    background-position: 0 -167px
}

.pic-library #endSelect .E_Cont p #nextPicsBut {
    background: url(../../images/gray/big-btn.png) no-repeat;
    float: left;
    width: 97px;
    height: 23px;
    background-position: -100px -167px;
    margin-left: 10px
}

.pic-library .list-pic {
    padding: 22px 0 16px;
    height: 100px
}

.pic-library .list-pic .pre, .pic-library .list-pic .next {
    float: left;
    display: block;
    position: relative;
    background: url(../../images/gray/pic_bg.png) no-repeat;
    width: 110px;
    height: 86px;
    text-align: center
}

.pic-library .list-pic .pre .img-wrap, .pic-library .list-pic .next .img-wrap {
    width: 102px;
    height: 72px;
    border: none;
    padding: 4px 0 15px;
    text-align: center;
    overflow: hidden
}

.pic-library .list-pic .pre .img-wrap a, .pic-library .list-pic .next .img-wrap a {
    width: 98px;
    height: 72px;
    padding: 0 5px 0 4px
}

.pic-library .list-pic .pre {
    top: -3px;
    bottom: -2px;
    margin-right: 40px
}

.pic-library .list-pic .next {
    float: right;
    bottom: -2px;
    top: -3px
}

.pic-library .list-pic .pre-bnt, .pic-library .list-pic .next-bnt, .pic-library .list-pic .pre-bnt span, .pic-library .list-pic .next-bnt span {
    background: url(../../images/gray/big-btn.png) no-repeat;
    display: block;
    width: 17px;
    height: 69px;
    float: left
}

.pic-library .list-pic .pre-bnt, .pic-library .list-pic .next-bnt {
    margin-top: 3px;
    cursor: hand;
    cursor: pointer
}

.pic-library .list-pic .pre-bnt span {
    background-position: -30px top
}

.pic-library .list-pic .next-bnt span {
    background-position: -55px top
}

.pic-library .list-pic .cont {
    overflow: hidden;
    float: left;
    width: 860px;
    height: 80px
}

.pic-library .list-pic .cont li {
    float: left;
    width: 123px;
    text-align: center;
    display: block;
    overflow: hidden
}

.pic-library .list-pic .cont li .img-wrap {
    width: 100px;
    height: 75px;
    margin: 0 auto;
    border: 1px solid #eee;
    text-align: center;
    overflow: hidden
}

.pic-library .list-pic .cont li .img-wrap a {
    width: 100px;
    height: 75px;
    outline: medium none;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    background-color: #fff
}

.pic-library .list-pic .cont .on .img-wrap {
    border: 2px solid #ffb017
}

.pic-library .lib-wrap {
    width: 1200px;
    overflow: hidden
}

.pic-library .lib-wrap ul {
    width: auto;
    overflow-x: auto
}

.pic-library .lib-wrap ul li {
    float: left;
    width: 165px;
    margin-right: 42px;
    overflow: hidden
}

.pic-library .lib-wrap ul li a {
    display: block
}

.pic-library .lib-wrap ul li a img {
    width: 165px;
    height: 124px
}

.pic-library .lib-wrap ul li a p {
    margin-top: 5px;
    background: #fff;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    font-size: 14px;
    color: #999
}

.desc {
    position: relative;
    padding: 23px 45px 25px;
    border-top: 1px solid #ddd;
    font: 16px/28px "Microsoft Yahei";
    color: #888;
    text-indent: 2em
}

.desc .quot, .desc .unquot {
    position: absolute;
    width: 42px;
    height: 40px;
    background: url(../../images/gray//quot.png) no-repeat
}

.desc .quot {
    left: 0;
    top: 10px;
    background-position: -10px 0
}

.desc .unquot {
    right: 0;
    bottom: 10px;
    background-position: -60px 0
}

.detail-content {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    text-align: justify;
    clear: both;
    word-wrap: break-word
}

.detail-content p {
    text-indent: 2em;
    font: 18px/32px "Microsoft Yahei";
    color: #404040;
    line-height: 36px;
    margin-bottom: 20px
}

.detail-content p img {
    margin: 0 auto
}

.detail-content img {
    display: block;
    width: 100%
}

.detail-content ul {
    font-family: "宋体";
    color: #888
}

.detail-content ul li {
    float: left;
    width: 50%
}

.detail-content ul li a {
    color: #049
}

.detail-content ul li a:hover {
    text-decoration: underline
}

.detail-content .key {
    font: 14px "Microsoft Yahei"
}

.detail-content .key a {
    margin: 0 5px
}

.pic-list ul li {
    margin-bottom: 20px
}

.pic-list ul li.left .bd-p1 {
    float: left
}

.pic-list ul li.left .bd-p2 {
    margin-left: 600px
}

.pic-list ul li.right {
    position: relative
}

.pic-list ul li.right .bd-p2 {
    position: absolute;
    left: 0;
    top: 0
}

.pic-list ul li.right .bd-p1 {
    margin-left: 600px
}

.pic-list ul li .bd-part {
    overflow: hidden;
    position: relative
}

.pic-list ul li .bd-part .bd-p1 {
    position: relative;
    width: 585px;
    height: 430px;
    overflow: hidden
}

.pic-list ul li .bd-part .bd-p1 img {
    width: 100%;
    display: block;
    opacity: .9
}

.pic-list ul li .bd-part .bd-p1 .desc {
    display: block;
    position: absolute;
    background: url(../../images/gray/overlay.png) repeat;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    text-align: center;
    left: 0;
    bottom: 0;
    margin: 0;
    border-top: none
}

.pic-list ul li .bd-part .bd-p2 {
    width: 585px;
    height: 430px;
    overflow: hidden
}

.pic-list ul li .bd-part .bd-p2 .bd-item {
    position: relative;
    min-height: 210px;
    overflow: hidden;
    background: #fafafa;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

.pic-list ul li .bd-part .bd-p2 .bd-item.top:hover i {
    border-color: transparent transparent transparent #252525 !important
}

.pic-list ul li .bd-part .bd-p2 .bd-item.top i {
    border-color: transparent transparent transparent #fafafa;
    border-style: solid dashed dashed dashed;
    left: 263px
}

.pic-list ul li .bd-part .bd-p2 .bd-item.bottom:hover i {
    border-color: transparent #252525 transparent transparent !important
}

.pic-list ul li .bd-part .bd-p2 .bd-item.bottom i {
    border-color: transparent #fff transparent transparent;
    border-style: dashed solid dashed dashed;
    right: 263px
}

.pic-list ul li .bd-part .bd-p2 .bd-item:hover {
    background: #252525
}

.pic-list ul li .bd-part .bd-p2 .bd-item:hover * {
    color: #fff !important
}

.pic-list ul li .bd-part .bd-p2 .bd-item:hover a:hover {
    color: #f30 !important
}

.pic-list ul li .bd-part .bd-p2 .bd-item i {
    z-index: 5;
    display: block;
    border-width: 12px;
    font-size: 0;
    width: 0;
    top: 40px;
    height: 0;
    line-height: 0;
    position: absolute;
    -webkit-transition: border-color .5s ease-out;
    -moz-transition: border-color .5s ease-out;
    -o-transition: border-color .5s ease-out;
    transition: border-color .5s ease-out
}

.pic-list ul li .bd-part .bd-p2 .bd-item h4 {
    font-size: 14px;
    color: #252525;
    margin: 15px 20px
}

.pic-list ul li .bd-part .bd-p2 .bd-item p {
    font-size: 12px;
    color: #999;
    margin: 0 20px
}

.pic-list ul li .bd-part .bd-p2 .bd-item img {
    width: 55%;
    display: block
}

.pic-list ul li .bd-part .bd-p2 .bd-item.top {
    padding-right: 55%
}

.pic-list ul li .bd-part .bd-p2 .bd-item.top img {
    position: absolute;
    right: 0;
    top: 0
}

.pic-list ul li .bd-part .bd-p2 .bd-item.bottom {
    margin-top: 10px;
    padding-left: 55%
}

.pic-list ul li .bd-part .bd-p2 .bd-item.bottom img {
    position: absolute;
    left: 0;
    top: 0
}

.search-box {
    padding: 30px 20px;
    background: #f5f5f5;
    font-size: 16px
}

.search-box input {
    width: 600px;
    height: 40px;
    color: #999;
    padding-left: 8px;
    font-size: 14px;
    line-height: 42px;
    outline: none;
    margin-left: 15px;
    float: left
}

.search-box .search-btn {
    cursor: pointer;
    height: 46px;
    border: 1px solid #ccc;
    background: #db1113;
    color: #fff;
    width: 100px;
    text-align: center;
    font-size: 16px;
    margin-left: -2px
}

.single {
    padding-left: 200px;
    overflow: hidden;
    position: relative
}

.single .single-cate {
    width: 160px;
    margin-left: -200px;
    float: left
}

.single .single-cate span {
    font-size: 12px;
    color: #999
}

.single .single-cate .side-item {
    display: block;
    width: 100px;
    height: 40px;
    margin: 20px auto;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    color: #333
}

.single .single-cate .side-item.on {
    border-radius: 3px;
    background: #252525;
    color: #f2f2f2
}

.single .to-content p {
    text-indent: 2em;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 20px;
    color: #3f3f3f
}

.banner-single {
    margin: 20px 0;
    width: 100%;
    height: 220px;
    background: #cd2626;
    text-align: center
}

.banner-single span {
    height: 100%;
    display: inline-block;
    vertical-align: middle
}

.banner-single img {
    width: 488px;
    height: 127px;
    vertical-align: middle
}

.search-result {
    padding-left: 200px;
    overflow: hidden;
    position: relative
}

.search-result .search-type {
    width: 160px;
    margin-left: -200px;
    float: left;
    min-height: 850px
}

.search-result .search-type span {
    font-size: 12px;
    color: #999
}

.search-result .search-type ul li {
    font-size: 12px;
    padding: 8px 40px;
    margin: 5px 0
}

.search-result .search-type ul li:hover {
    background: url(../../images/gray/tit_bg.png) left center no-repeat #eee;
    background-size: 5px 100%
}

.search-result .search-type ul li a {
    color: #252525
}

.search-result .search-type ul li a.on {
    font-weight: bold;
    color: #333;
    font-size: 14px
}

.search-result .search-type .side-item {
    display: block;
    width: 100px;
    height: 40px;
    margin: 20px auto;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    color: #333
}

.search-result .search-type .side-item.on {
    border-radius: 3px;
    background: #252525;
    color: #f2f2f2
}

.search-result .search-list {
    margin-top: 50px;
    width: 650px
}

.search-result .search-list li {
    margin-bottom: 30px
}

.search-result .search-list li.emptys {
    line-height: 20px;
    height: 40px;
    font-size: 20px
}

.search-result .search-list li em {
    color: #c00
}

.search-result .search-list li img {
    float: left;
    width: 192px;
    height: 126px;
    padding-right: 20px
}

.search-result .search-list li h2 {
    line-height: 20px;
    height: 40px;
    margin: 3px 0 0;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 20px
}

.search-result .search-list li h2 a {
    color: #3385ff;
    text-decoration: underline
}

.search-result .search-list li span {
    margin-right: 2px
}

.search-result .search-list li .tag {
    color: #159b46;
    border: 1px solid #b8e1c7;
    padding: 2px 8px;
    border-radius: 2px
}

.search-result .search-list li .tag:hover {
    background: #b8e1c7
}

.search-result .search-list li .s-desc {
    font-size: 12px;
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    color: #757575;
    margin-bottom: 15px
}

.search-result .search-list li .s-side {
    font-size: 10px;
    color: #bebebe;
    display: inline-block;
    margin-left: 13px
}

.search-result .search-list li .s-side a {
    color: #bbb
}

.search-result .search-list li .s-side a:hover {
    color: #de0a0a
}

.search-result .search-list li .s-side em {
    border-left: 1px solid #ddd;
    color: #bbb;
    padding-left: 15px;
    margin-left: 10px;
    font-family: "\5b8b\4f53"
}

.search-result .guide-tap {
    width: 300px;
    position: absolute;
    right: 0;
    top: 50px
}

.search-result .guide-tap img {
    width: 100%
}